<%= simple_form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :work_shop_id, collection: WorkShop.all, prompt: "What workshop does this event belong to?" , label: 'Workshop' %>
  </div>

  <div class="field">
    <%= f.input :start_time, label: 'Start Date/Time' %>
  </div>

  <div class="field">
    <%= f.input :end_time, label: 'End Date/Time' %>
  </div>

  <div class="field">
    <%= f.input :description, label: 'Notes about this event' %>
  </div>

  <div class="field">
    <%= f.input :Location_id, collection: Location.all, prompt: "Choose a location" %>
  </div>

  <div class="field">
    <%= f.input :drop_in, label: 'Drop-ins allowed?' %>
  </div>

  <div class="field">
    <%= f.input :leader_id, label: 'Event Leader' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
