<p id="notice"><%= notice %></p>

<h1>Upcoming Write Group Events:</h1>

  <% if @events %>
    <% @events.each do |event| %>
      <% if event.start_time? %>
        <%= link_to event.start_time.strftime("%A, %b %d"), event %>
      <% end %>
      <ul>
        <% if event.work_shop_id? %>
          <li><%= link_to WorkShop.find(event.work_shop_id).name, WorkShop.find(event.work_shop_id) %></li>
        <% end %>
        <% if event.description? %>
          <li><%= event.description %></li>
        <% end %>
        <% if event.Location_id? %>
          <li><%= Location.find(event.Location_id).name %></li>
        <% end %>
        <% if event.drop_in? %>
          <li><%= event.drop_in %></li>
        <% end %>
        <% if event.leader_id? %>
          <li><%= event.leader_id %></li>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h3>There are currently no events scheduled for the Write Group.</h3>
  <% end %>
<br>

<%= link_to 'New Event', new_event_path %>
