<p id="notice"><%= notice %></p>

<h1>Current Work Shops</h1>

<% @work_shops.each do |work_shop| %>
  <%= link_to work_shop.name, work_shop %>
  <ul>
    <% if work_shop.description? %>
      <li><%= work_shop.description %></li>
    <% end %>
    <% if work_shop.location_id? %>
      <li><%= work_shop.location_id %></li>
    <% end %>
    <% if work_shop.drop_in == true %>
      <li>"Drop-ins" allowed</li>
    <% else %>
      <li>No "drop-ins" please</li>
    <% end %>
    <% if work_shop.leader_id? %>
      <li><%= work_shop.leader_id %></li>
    <% end %>
  </ul>
<% end %>

<br>

<%= link_to 'New Work Shop', new_work_shop_path %>
