<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_shop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_shop.description %>
</p>

<% if @work_shop.location_id %>
  <p>
    <strong>Location:</strong>
    <%= @work_shop.location_id %>
  </p>
<% end %>

<p>
  <strong>Drop ins:</strong>
  <% if @work_shop.drop_in? %>
    Drop-ins welcome
  <% else %>
    No drop-ins please!
  <% end %>
</p>

<% if @work_shop.leader_id %>
  <p>
    <strong>Leader:</strong>
    <%= @work_shop.leader_id %>
  </p>
<% end %>

<%= link_to 'Edit', edit_work_shop_path(@work_shop) %> |
<%= link_to 'Back', work_shops_path %>

<% if @work_shop.events.present? %>
<br>
  <h3>Upcoming <%= @work_shop.name %>: </h3>
  <ul>
    <% @work_shop.events.each do |event| %>
      <li><%= link_to event.start_time.strftime("%A, %b %d"), event %></li>
    <% end %>
  </ul>
<% else %>
<br>
  <h4>There are currently no upcoming <%= @work_shop.name %> events entered</h4>
<% end %>


<%= link_to 'Add an event', new_event_path %>