<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_shop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @work_shop.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @work_shop.location_id %>
</p>

<p>
  <strong>Drop in:</strong>
  <%= @work_shop.drop_in %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @work_shop.leader_id %>
</p>

<%= link_to 'Edit', edit_work_shop_path(@work_shop) %> |
<%= link_to 'Back', work_shops_path %>

<h3>Upcoming <%= @work_shop.name %>: </h3>
<ul>
  <% @work_shop.events.each do |event| %>
    <li><%= link_to event.start_time.strftime("%A, %b %d"), event %></li>
  <% end %>
</ul>
